Thumbs.db
.DS_Store
.gradle
build
.idea
*.iml
*.ipr
*.iws
*.db
npm-debug.log
.project
.settings
.classpath
.asscache
node_modules
target
bsb-core-web/grails-app/conf/application.yml
classes
/bsb-content-service/grails-app/assets/bower